@import './_variable.scss';
@import './_reset.scss';
@import './_base.scss';

#root{
    align-items: center;
    background:rgb(247, 195, 195);
    display: flex;
    font-size: 2rem;
    margin: 0 auto;
    min-height: 100%;
    padding: 20px;
    width: 1000px;
    @include mq(){
        width: 100%;
    }
}
#greet{
    color: #333;
}
#points{
    width: 100%;
}
#push,
.qButton{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: lightgreen;
    border: 1px soild #333;
    border-radius: 5px;
    font-size: 2rem;
    margin-right: 10px;
    padding: 5px;
}
#push{
    margin: 10px 0 0;
}
.choise-buttons{
    margin: 10px 0 0;
}
.history{
    &__list-item{
        background: #ddd;
        font-size: 1.6rem;
        margin: 10px 0 0;
        padding: 10px;
        @include mq(){
            font-size: inherit;
        }
    }
    &__question{
        border-bottom: 1px solid #333;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}